<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.mapper.AccountMapper">
    <insert id="add" parameterType="cn.wy.entity.Account" >
        INSERT INTO account(userId,userAccount,userPwd,userName,roleId,userTel,userEmail,userSex,userAddress,isDelete)
        VALUES (#{userId},
        #{userAccount},
        #{userPwd},
        #{userName},
        #{roleId},
        #{userTel},
        #{userEmail},
        #{userSex},
        #{userAddress},
        #{isDelete}
        )
    </insert>

    <select id="findByAccount" parameterType="String" resultType="cn.wy.entity.Account">
        SELECT * FROM account WHERE isdelete=0 AND userAccount=#{userAccount}
    </select>


    <select id="findByAccountAndPassword" parameterType="cn.wy.entity.Account" resultType="int">
        SELECT COUNT(*) FROM account WHERE userAccount=#{userAccount} AND userPwd=#{userPwd}
    </select>

    <select id="findAccount" parameterType="String" resultType="String">
        SELECT userAccount FROM account WHERE isDelete=0
    </select>

    <select id="findAllUser" resultType="cn.wy.entity.Account">
        SELECT * FROM account WHERE isDelete=0
    </select>
</mapper>